---
import {getPage} from '../data/pages';

import {Markdown} from 'astro/components';
import BaseLayout from '../layouts/BaseLayout';

const page = await getPage('home');
let title = 'ADHD Tips and Tricks';
---

<BaseLayout title="Home">
    <div>
        <Markdown content={page.content} />
    </div>
</BaseLayout>