---
import Header from '../components/Header.astro';

const {title} = Astro.props;
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title} - ADHD Tips &amp; Tricks</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <Header />
    <div class="content">
      <slot />
    </div>
  </main>
</body>
</html>

<style lang="scss">
@use '../style/_colours';
@use '../style/_breakpoints';

body {
  margin-top: 10px;
  width: 100%;
  min-height: 100%;
  background: colours.$silver;
  color: colours.$dark-grey;
  margin: 0px;

  @media (prefers-color-scheme: dark) {
    background: colours.$dark-grey;
    color: colours.$white;
  }
}

main {
  background: colours.$white;
  min-height: 100vh;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background: colours.$dark-grey;
    color: colours.$white;
  }

  @include breakpoints.for-tablet-landscape-up {
    box-shadow: 0px 0px 4px 0px rgba(colours.$dark-grey, 0.5);
    overflow: hidden;
    margin: auto;
    width: 700px;
  }

  @include breakpoints.for-desktop-up {
    width: 1000px;
  }

  .content {
    padding: 15px 40px;

    @include breakpoints.for-iphone-5-only {
      padding: 10px 30px;
    }
  }
}
</style>