---
import Header from '../components/Header.astro';

const {title} = Astro.props;
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title} - ADHD Tips &amp; Tricks</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <Header />
    <slot />
  </main>
</body>
</html>

<style lang="scss">
$robins-egg: #3ED5E1;
$deep-aqua: #2A9098;
$carolina-blue: #8BA0E0;
$amethyst: #CE7BE4;
$dark-grey: #353838;
$silver: #D7E0E1;
$white: #FFFFFF;

body {
  margin-top: 10px;
  width: 100%;
  min-height: 100%;
  background: $silver;
  color: $dark-grey;
  margin: 0px;

  @media (prefers-color-scheme: dark) {
    background: $dark-grey;
    color: $white;
  }
}

main {
  width: 100%;
  min-height: 100vh;
  background: $white;

  @media (prefers-color-scheme: dark) {
    background: $dark-grey;
    color: $white;
  }
}
</style>